	.container{

		background-color: rgb(160, 160, 177);
	}
	
	.danger{
background-color: azure;
color:brown;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
	}
.info{
	background-color: aliceblue;
	color: brown;
}

.warning{
	background-color: bisque;
	color: green;
}
